{% extends 'base.html.twig' %}

{% block title %}Instagram Embed{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <instagram-embed/>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}